body {
    margin: 0 auto;
    padding-top: 40px;
    width: 90%;
    min-width: 1000px;
    color: #34495e;
    font-family: "Microsoft Yahei";
    font-size: medium;
}

input,
textarea,
select {
    border: 2px solid #BDC3C7;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    cursor: pointer;
}

option:hover {
    background-color: #2980B9;
    color: white;
}

a.button:link,
a.button:visited {
    color: white;
}

a.button:hover {
    color: white;
    text-decoration: none;
}

a.button:active {
    color: white;
}

:disabled {
    background-color: #BDC3C7;
}

input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 2px solid #2980B9;
}

::selection {
    background-color: #2980B9;
    color: white;
}

::-webkit-input-placeholder {
    color: #BDC3C7;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-bar {
    background: 2980B9;
}

.hasmore:hover {
    color: #2980B9;
    cursor: pointer;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.button {
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 2px solid #2980B9;
    background-color: #2980B9;
    color: white;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #3498DB;
    background-color: #3498DB;
}

#btn-getnews {
    margin-left: 20px;
}

#btn-confirm,
#btn-savesort,
#btn-addpic,
#btn-uppic-thumb,
input[name="thumb"],
#btn-listmore {
    display: none;
}

#btn-savepicture {
    position: absolute;
    right: 0px;
}

#btn-today {
    margin-right: 20px;
    width: 160px;
}

#btn-search {
    margin-right: 20px;
    vertical-align: bottom;
}

#btn-keywords {
    margin-right: 10px;
    width: 240px;
}

#btn-filter {
    vertical-align: top;
    margin-right: 10px;
    padding: 8px;
    width: 100px;
    height: 40px;
}

#btn-listmore {
    margin: 20px;
    text-align: center;
}

#submit {
    float: right;
    text-align: right;
    margin-bottom: 20px;
}

#submit .button {
    margin-left: 20px;
}

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
    width: 200px;
    background-color: #2C3E50;
    text-align: right;
    color: white;
}

#navigation h1 {
    padding-right: 20px;
    cursor: pointer;
}

#box-navigation {
    padding: 0;
}

#box-navigation li {
    display: block;
    padding-right: 20px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#box-navigation li.active {
    background-color: white;
    color: #2980B9;
}

#box-navigation li:hover {
    color: #3498DB;
}

#container {
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
    width: auto;
    overflow-y: hidden;
}

#container iframe {
    width: 100%;
    height: 100%;
}

#login {
    width: 400px;
    height: auto;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #BDC3C7;
}

#box-login input {
    display: block;
    margin-bottom: 20px;
    padding-left: 30px;
    width: 100%;
    height: 40px;
}

#box-captcha input {
    display: inline-block;
    width: 60%;
}

#box-captcha img {
    width: 38%;
    height: 40px;
    vertical-align: top;
    cursor: pointer;
}

#btn-login:focus {
    border: 2px solid #3498DB;
    background-color: #3498DB;
}

#addnews {
    margin-bottom: 20px;
}

#addnews .col {
    margin-bottom: 20px;
    clear: both;
}

#addnews .col > *,
#addnews .col > div > div {
    display: inline-block;
}

#addnews .col > div > progress {
    display: block;
    margin: 20px 0;
    width: 900px;
    height: 5px;
}

#addnews .col > div > input[type="text"] {
    width: 100%;
    height: 40px;
}

#addnews .col > div > input[type="date"] {
    padding: 8px;
    height: 40px;
}

#addnews .col > div > input[name="newsid"] {
    padding: 10px;
    width: 320px;
    height: 40px;
}

#addnews .col > div {
    float: right;
    margin-bottom: 20px;
    width: 90%;
    height: auto;
    min-height: 40px;
}

#addnews .col > p {
    margin: 0 30px 0 0;
    width: 65px;
    text-align: right;
    line-height: 40px;
    vertical-align: top;
}

#addnews .col > input {
    float: right;
    padding: 10px;
    width: 90%;
    height: 40px;
}

#addnews .col > textarea {
    float: right;
    padding: 10px;
    width: 90%;
    resize: none;
}

#addnews .col > div input[name="app"] {
    padding: 6px;
    width: 50%;
    height: 40px;
}

#box-thumb,
#box-select {
    display: none;
    margin: 20px 0;
    width: 100%;
}

#box-thumb div {
    display: inline-block;
    width: 370px;
    height: 330px;
}

#box-select div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    border: 2px dashed #BDC3C7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#box-select-a1 {
    width: 247px;
    height: 223px;
}

#box-select-b1 {
    width: 247px;
    height: 112px;
}

#box-select-b2 {
    width: 100px;
    height: 80px;
}

.picture {
    position: relative;
    margin-bottom: 20px;
    height: 200px;
    line-height: 20px;
}

.picture form > div {
    float: left;
}

.picture form > input {
    padding: 10px;
    width: 90%;
    height: 40px;
}

.box-dsc {
    margin-left: 30px;
    width: 450px;
    height: 200px;
}

.box-dsc textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
}

.box-pic {
    width: 420px;
    height: 200px;
    border: 2px dashed #BDC3C7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.box-pic:hover .cover {
    display: block;
}

.box-pic input {
    display: none;
}

.cover {
    display: none;
    position: absolute;
    width: 420px;
    height: 200px;
    z-index: 1;
    opacity: 0.5;
    background-color: black;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.box-news {
    height: 300px;
    border: 2px solid #BDC3C7;
}

.box-news .news div:nth-child(1) {
    background-color: #BDC3C7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: -1;
}

#box-template {
    clear: both;
    float: left;
}

#box-template .sortable-placeholder {
    position: relative;
    vertical-align: top;
    float: left;
    margin: 0 20px 70px 0;
    width: 220px;
    height: 300px;
    border: 2px dashed #BDC3C7;
    background: none;
}

.template {
    position: relative;
    vertical-align: top;
    float: left;
    margin: 0 20px 20px 0;
    width: 220px;
    height: 350px;
}

.template:hover {}

.template-thumb-a {
    height: 230px;
    line-height: 230px;
}

.template-thumb-b1 {
    height: 120px;
    line-height: 120px;
}

.template-thumb-b2,
.template-thumb-b3 {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 40px;
    line-height: 40px;
}

.template-thumb-b2 {
    top: 190px;
}

.template-thumb-b3 {
    top: 250px;
}

.template-title-a {
    padding: 10px;
    height: 70px;
    border-top: 2px solid #BDC3C7;
}

.template-title-b1,
.template-title-b2,
.template-title-b3 {
    padding: 5px;
    height: 60px;
    border-top: 2px solid #BDC3C7;
}

.box-control {
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.box-editnews {
    display: none;
    position: absolute;
    top: 0px;
    left: 230px;
    z-index: 1;
    padding: 10px;
    width: 310px;
    border: 2px solid #BDC3C7;
    box-shadow: 2px 2px 2px #BDC3C7;
    background-color: white;
}

.box-editnews .col {
    margin: 10px 0;
}

.box-editnews .col > *,
.box-editnews .col > div > div {
    display: inline-block;
}

.box-editnews .col > div {
    width: 210px;
    line-height: 30px;
}

.box-editnews .col > p {
    margin: 0 10px 0 0;
    width: 66px;
    text-align: right;
    line-height: 30px;
    vertical-align: top;
}

.box-editnews .col > input {
    padding: 3px;
    width: 204px;
    height: 30px;
}

.box-editnews .col .button {
    margin-right: 5px;
}

#box-filter {
    float: left;
    margin-bottom: 20px;
    height: 40px;
}

#box-filter input {
    height: 40px;
    padding: 6px;
}

#box-submit {
    float: right;
    margin-bottom: 20px;
    height: 40px;
    text-align: right;
}

#box-submit .button {
    margin-left: 20px;
}

#box-table table {
    width: 100%;
    table-layout: fixed;
    cursor: default;
}

#box-table thead tr {
    height: 30px;
    background-color: #2C3E50;
    border-left: 5px solid #2C3E50;
    color: white;
}

#box-table tbody tr {
    height: 60px;
    border-left: 5px solid transparent;
}

#box-table tbody tr:hover {
    background-color: aliceblue;
    border-left: 5px solid #2980B9;
}

#box-table thead td {
    padding: 0;
}

#box-table td {
    padding: 5px;
    text-align: center;
    overflow: hidden;
    word-break: normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box-table td span {
    cursor: pointer;
    text-decoration: underline;
}

#box-table td span:hover {
    color: #2980B9;
}

#listcomment {
    position: relative;
}

#box-editor,
#box-comment {
    display: none;
    position: fixed;
    top: 65px;
    left: 50%;
    margin-left: -300px;
    padding: 50px;
    width: 600px;
    height: auto;
    max-height: 500px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    background-color: white;
    overflow-y: auto;
}

#comment > p {
    font-weight: bolder;
    margin-bottom: 30px;
}

.comment {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    min-height: 50px;
}

.comment p {
    word-wrap: break-word;
}

.comment img {
    width: auto;
    height: 250px;
}

#editor select,
#editor input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

#manage p {
    margin: 0;
}

#manage span {
    margin-right: 5px;
}

#manage input[type="checkbox"] {
    vertical-align: top;
}

#manage input[type="text"] {
    width: 50%;
    line-height: 30px;
}

.box-manage1 {
    margin-bottom: 20px;
}

.box-manage1 > p {
    margin: 0;
    padding: 5px 0;
    font-size: 1.5em;
}

.box-manage2 {
    margin-bottom: 10px;
    border: 1px solid gray;
}

.box-manage2 > p {
    border-bottom: 1px solid gray;
    background-color: #BDC3C7;
    padding: 5px 10px;
}

.box-manage3 {
    padding: 10px;
}

.box-manage3 > p {
    font-size: 1.2em;
}

.box-manage4 {
    display: inline-block;
}


/* plugin style start */

.note-editor {
    margin-bottom: 20px;
}

.note-editor .note-editable {
    overflow-y: scroll;
}

.note-toolbar .note-para .dropdown-menu {
    min-width: 85px;
}

.modal-backdrop {
    display: none;
}

.bootstrap-tagsinput {
    width: 90%;
    height: 40px;
    overflow: hidden;
}

.bootstrap-tagsinput .tag {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 0 20px;
    line-height: 36px;
    cursor: pointer;
    background-color: #2980B9;
}

.bootstrap-tagsinput .tag:hover {
    color: white;
    background-color: #3498DB;
}

.bootstrap-tagsinput .tag > span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.bootstrap-tagsinput .tag:hover > span {
    opacity: 1;
}

.bootstrap-tagsinput input[type="text"] {
    padding: 10px;
    width: auto !important;
    min-width: 15em;
    max-width: inherit;
    height: 40px;
}

.sortable {
    margin: 20px 0 0 0;
    padding-left: 0;
    width: 100%;
}

.sortable li {
    list-style: none;
    margin-bottom: 5px;
    height: 40px;
    border: 1px solid #BDC3C7;
    text-align: left;
    line-height: 40px;
}

.sortable li:hover {
    background-color: aliceblue;
}

.sortable li.sortable-placeholder {
    border: 1px dashed #BDC3C7;
    background: none;
}

.sortable li div {
    display: inline-block;
    padding-left: 20px;
    width: 40%;
    height: 40px;
    vertical-align: top;
    overflow: hidden;
}

.sortable li span {
    padding-left: 20px;
}

@-webkit-keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotate_pacman_half_up {
    0% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes rotate_pacman_half_down {
    0% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@-webkit-keyframes pacman-balls {
    75% {
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate(-100px, -6.25px);
        transform: translate(-100px, -6.25px);
    }
}

@keyframes pacman-balls {
    75% {
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate(-100px, -6.25px);
        transform: translate(-100px, -6.25px);
    }
}

.loader {
    margin-top: 200px;
    margin-left: 50%;
}

.pacman {
    position: relative;
}

.pacman > div:nth-child(2) {
    -webkit-animation: pacman-balls 1s -0.99s infinite linear;
    animation: pacman-balls 1s -0.99s infinite linear;
}

.pacman > div:nth-child(3) {
    -webkit-animation: pacman-balls 1s -0.66s infinite linear;
    animation: pacman-balls 1s -0.66s infinite linear;
}

.pacman > div:nth-child(4) {
    -webkit-animation: pacman-balls 1s -0.33s infinite linear;
    animation: pacman-balls 1s -0.33s infinite linear;
}

.pacman > div:nth-child(5) {
    -webkit-animation: pacman-balls 1s 0s infinite linear;
    animation: pacman-balls 1s 0s infinite linear;
}

.pacman > div:first-of-type {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
    animation: rotate_pacman_half_up 0.5s 0s infinite;
    position: relative;
    left: -30px;
}

.pacman > div:nth-child(2) {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
    animation: rotate_pacman_half_down 0.5s 0s infinite;
    margin-top: -50px;
    position: relative;
    left: -30px;
}

.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translate(0, -6.25px);
    -ms-transform: translate(0, -6.25px);
    transform: translate(0, -6.25px);
    top: 25px;
    left: 70px;
}


/* plugin style stop */